
.square {
  width: 200px;
  height: 200px;
  border-style: solid;
  border-color: darkgreen;
}

.grid {
  display: flex;
  flex-flow: row wrap;
  justify-content: center;
  align-content: center;
  width: 618px;
  height: 618px;
}

.Twitter {
  background-image: url('Twitter.png');
  background-size: cover;
}
